**Dataset : https://www.kaggle.com/datasets/zohrehtofighizavareh/credit-card-fraud-detection**

In [ ]:
##Importing Dependencies

In [1]:
import pandas as pd
import numpy as np

**Loading Dataset to Pandas Dataframe**

In [4]:
url = "https://www.kaggle.com/datasets/zohrehtofighizavareh/credit-card-fraud-detection"
df = pd.read_csv("/content/CreditCard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

Cleaning
Shape of Dataset

In [9]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,amount,Class
14590,25807,-0.769852,2.704375,-2.083145,1.018899,1.083598,-1.255315,1.242032,-0.525902,1.466585,...,-0.448296,-0.071608,0.118632,-0.180557,-0.288828,-0.448297,0.608821,-0.186236,0.89,0.0
14591,25808,-0.897475,0.963371,0.997351,0.329928,0.998766,-1.287190,0.713085,0.019353,-0.859152,...,0.118559,0.159961,-0.234309,0.381128,0.193193,-0.511092,0.092647,0.150261,1.00,0.0
14592,25809,-0.377066,0.984515,0.988848,-0.261443,0.563332,0.197124,0.489867,0.281753,-0.543286,...,-0.234987,-0.625894,-0.077312,-0.732204,-0.187063,0.128292,0.254469,0.076702,3.57,0.0
14593,25810,-0.353184,0.311241,1.586426,-1.515835,-0.636334,-0.836015,0.441214,-0.188933,1.218595,...,0.049963,0.562606,-0.406689,0.494957,0.647956,-0.388286,0.159966,0.085009,24.95,0.0
14594,25810,0.827638,-0.539202,1.108173,1.532278,-0.950308,0.344304,-0.467828,0.217786,0.858742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
df.shape

(14595, 31)

In [8]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,amount,Class
count,14595.000000,14595.000000,14595.000000,14595.000000,14595.000000,14595.000000,14595.000000,14595.000000,14595.000000,14595.000000,...,14594.000000,14594.000000,14594.000000,14594.000000,14594.000000,14594.000000,14594.000000,14594.000000,14594.000000,14594.000000
mean,10789.397670,-0.235869,0.281890,0.836157,0.301529,-0.120216,0.127655,-0.156335,-0.013457,0.958179,...,-0.067785,-0.159067,-0.034452,0.012024,0.117077,0.035892,0.013886,0.003275,64.167390,0.004180
std,8185.099006,1.733224,1.400483,1.580158,1.496743,1.298186,1.323321,1.245896,1.261783,1.225899,...,0.868051,0.621986,0.495948,0.587172,0.429212,0.554197,0.398324,0.254092,177.256238,0.064518
min,0.000000,-27.670569,-34.607649,-24.667741,-5.172595,-32.092129,-23.496714,-26.548144,-23.632502,-7.175097,...,-11.468435,-8.593642,-19.254328,-2.512377,-4.781606,-1.338556,-7.976100,-3.575312,0.000000,0.000000
25%,3120.000000,-0.970401,-0.287015,0.398237,-0.625120,-0.715802,-0.626724,-0.613229,-0.182259,0.236955,...,-0.272055,-0.552828,-0.172879,-0.339159,-0.137046,-0.369383,-0.075588,-0.014270,5.490000,0.000000
50%,9765.000000,-0.318075,0.251920,0.954945,0.224760,-0.189767,-0.150116,-0.107062,0.017199,0.941903,...,-0.131175,-0.123806,-0.044647,0.060358,0.156752,-0.033930,-0.000373,0.016598,15.900000,0.000000
75%,18792.500000,1.162615,0.884715,1.598016,1.190561,0.350648,0.506798,0.421533,0.265329,1.628664,...,0.020955,0.228997,0.071106,0.393153,0.393032,0.369598,0.098414,0.073539,52.915000,0.000000
max,25810.000000,1.960497,10.819665,4.101716,11.927512,34.099309,21.393069,34.303177,11.580797,10.392889,...,22.614889,4.534454,13.876221,3.200201,5.525093,3.517346,8.254376,4.860769,7712.430000,1.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14595 entries, 0 to 14594
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    14595 non-null  int64
 1   V1      14595 non-null  float64
 2   V2      14595 non-null  float64
 3   V3      14595 non-null  float64
 4   V4      14595 non-null  float64
 5   V5      14595 non-null  float64
 6   V6      14595 non-null  float64
 7   V7      14595 non-null  float64
 8   V8      14595 non-null  float64
 9   V9      14595 non-null  float64
 10  V10     14595 non-null  float64
 11  V11     14595 non-null  float64
 12  V12     14595 non-null  float64
 13  V13     14595 non-null  float64
 14  V14     14595 non-null  float64
 15  V15     14595 non-null  float64
 16  V16     14595 non-null  float64
 17  V17     14595 non-null  float64
 18  V18     14595 non-null  float64
 19  V19     14595 non-null  float64
 20  V20     14595 non-null  float64
 21  V21     14594 non-null  float64
 22  V22     14594 non-null  float64
 23  V23     14594 non-null  float64
 24  V24     14594 non-null  float64
 25  V25     14594 non-null  float64
 26  V26     14594 non-null  float64
 27  V27     14594 non-null  float64
 28  V28     14594 non-null  float64
 29  amount  14594 non-null  float64
 30  Class   14594 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.5 MB

In [12]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
amount    1
Class     1
dtype: int64

In [13]:
df['Class'].value_counts()

0.0    14533
1.0       61
Name: Class, dtype: int64

In [14]:
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [15]:
# printing shape of legit and fraud
print(legit.shape)
print(fraud.shape)

(14533, 31)
(61, 31)

In [16]:
legit.amount.describe()

count    14533.000000
mean        64.065668
std        176.589083
min          0.000000
25%          5.550000
50%         15.950000
75%         52.990000
max       7712.430000
Name: amount, dtype: float64

In [17]:
fraud.amount.describe()

count      61.000000
mean       88.402295
std       297.522823
min         0.000000
25%         1.000000
50%         1.000000
75%         3.790000
max      1809.680000
Name: amount, dtype: float64

In [18]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,10777.717402,-0.215448,0.262816,0.879788,0.274916,-0.106953,0.136946,-0.128751,-0.019781,0.974505,...,0.022346,-0.068829,-0.159573,-0.033576,0.013839,0.117754,0.034808,0.010538,0.003351,64.065668
1.0,13325.934426,-5.118440,4.839489,-9.563219,6.621692,-3.266514,-2.089348,-6.722938,1.489551,-2.929718,...,0.485918,0.180904,-0.038622,-0.243020,-0.420267,-0.044285,0.294127,0.811558,-0.014848,88.402295

In [20]:
legit_sample = legit.sample(n=61)

In [21]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [22]:
#printing first 5 rows of new dataset
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,amount,Class
9885,14572,0.813716,-0.880525,-0.416444,0.952632,1.508937,4.501451,-0.884553,1.021794,2.402925,...,-0.532926,-1.434583,-0.135405,0.943974,0.561166,-0.582269,0.013762,0.051789,200.93,0.0
2227,1754,-0.515930,0.985574,1.771355,1.263489,0.229556,-0.083967,1.010152,-0.332683,0.222863,...,-0.161320,0.330990,-0.192079,0.415554,-0.149673,-0.293626,0.229208,-0.189524,23.11,0.0
11491,19901,1.404920,-0.504758,0.630047,-0.239302,-1.134870,-0.808858,-0.727920,-0.183649,1.017441,...,-0.188007,-0.245859,-0.003143,0.319502,0.496639,-0.278360,-0.019426,0.003467,5.00,0.0
8300,11083,1.191252,-0.068972,0.787152,0.422563,-0.638935,-0.424683,-0.324096,-0.124042,1.968495,...,-0.208958,-0.058035,0.013480,0.453346,0.318163,1.080871,-0.074310,-0.004984,9.80,0.0
11151,19302,1.161859,-0.408280,1.120867,-0.472898,-1.238965,-0.522603,-0.813527,0.077962,3.283790,...,-0.122775,0.085970,0.052557,0.326706,0.311030,-0.712303,0.072935,0.027759,11.85,0.0

In [23]:
#Fetching last 5 rows of dataset
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,amount,Class
14104,25095,1.192396,1.338974,-0.678876,3.123672,0.643245,-1.184323,0.397586,-0.253499,0.411135,...,-0.377503,-0.889597,-0.074208,0.035446,0.550578,-0.027171,-0.024921,0.073605,3.12,1.0
14170,25198,-15.903635,10.393917,-19.133602,6.185969,-12.538021,-4.027030,-13.897827,10.662252,-2.844954,...,1.577548,-1.280137,-0.601295,0.040404,0.995502,-0.273743,1.688136,0.527831,99.99,1.0
14197,25231,-16.598665,10.541751,-19.818982,6.017295,-13.025901,-4.128779,-14.118865,11.161144,-4.099551,...,1.725853,-1.151606,-0.680052,0.108176,1.066878,-0.233720,1.707521,0.511423,99.99,1.0
14211,25254,-17.275191,10.819665,-20.363886,6.046612,-13.465033,-4.166647,-14.409448,11.580797,-4.073856,...,1.729804,-1.208096,-0.726839,0.112540,1.119193,-0.233189,1.684063,0.503740,99.99,1.0
14338,25426,1.125336,1.130146,-0.962975,2.675688,0.990075,-0.243318,0.316192,0.122960,-1.143343,...,-0.166737,-0.521934,-0.112376,-0.592077,0.520791,0.043354,0.015159,0.063612,3.76,1.0

In [24]:
# counting the class
new_dataset['Class'].value_counts()

0.0    61
1.0    61
Name: Class, dtype: int64

In [25]:
# now it is a blanced dataset so checking for the mean value
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,10438.803279,0.040234,0.138430,0.927832,0.221536,-0.164322,0.049963,-0.127296,-0.136382,0.925315,...,-0.036710,-0.109466,-0.198544,0.005362,-0.049949,0.184028,0.063342,-0.031404,-0.020479,59.409016
1.0,13325.934426,-5.118440,4.839489,-9.563219,6.621692,-3.266514,-2.089348,-6.722938,1.489551,-2.929718,...,0.485918,0.180904,-0.038622,-0.243020,-0.420267,-0.044285,0.294127,0.811558,-0.014848,88.402295

In [26]:

X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [27]:
print(X)

        Time         V1         V2         V3        V4         V5        V6  \
9885   14572   0.813716  -0.880525  -0.416444  0.952632   1.508937  4.501451
2227    1754  -0.515930   0.985574   1.771355  1.263489   0.229556 -0.083967
11491  19901   1.404920  -0.504758   0.630047 -0.239302  -1.134870 -0.808858
8300   11083   1.191252  -0.068972   0.787152  0.422563  -0.638935 -0.424683
11151  19302   1.161859  -0.408280   1.120867 -0.472898  -1.238965 -0.522603
...      ...        ...        ...        ...       ...        ...       ...
14104  25095   1.192396   1.338974  -0.678876  3.123672   0.643245 -1.184323
14170  25198 -15.903635  10.393917 -19.133602  6.185969 -12.538021 -4.027030
14197  25231 -16.598665  10.541751 -19.818982  6.017295 -13.025901 -4.128779
14211  25254 -17.275191  10.819665 -20.363886  6.046612 -13.465033 -4.166647
14338  25426   1.125336   1.130146  -0.962975  2.675688   0.990075 -0.243318

              V7         V8        V9  ...       V20       V21       V22  \
9885   -0.884553   1.021794  2.402925  ...  0.283589 -0.532926 -1.434583
2227    1.010152  -0.332683  0.222863  ...  0.344484 -0.161320  0.330990
11491  -0.727920  -0.183649  1.017441  ... -0.082097 -0.188007 -0.245859
8300   -0.324096  -0.124042  1.968495  ... -0.136737 -0.208958 -0.058035
11151  -0.813527   0.077962  3.283790  ... -0.275878 -0.122775  0.085970
...          ...        ...       ...  ...       ...       ...       ...
14104   0.397586  -0.253499  0.411135  ... -0.185455 -0.377503 -0.889597
14170 -13.897827  10.662252 -2.844954  ...  1.501565  1.577548 -1.280137
14197 -14.118865  11.161144 -4.099551  ...  1.534920  1.725853 -1.151606
14211 -14.409448  11.580797 -4.073856  ...  1.544970  1.729804 -1.208096
14338   0.316192   0.122960 -1.143343  ... -0.138814 -0.166737 -0.521934

            V23       V24       V25       V26       V27       V28  amount
9885  -0.135405  0.943974  0.561166 -0.582269  0.013762  0.051789  200.93
2227  -0.192079  0.415554 -0.149673 -0.293626  0.229208 -0.189524   23.11
11491 -0.003143  0.319502  0.496639 -0.278360 -0.019426  0.003467    5.00
8300   0.013480  0.453346  0.318163  1.080871 -0.074310 -0.004984    9.80
11151  0.052557  0.326706  0.311030 -0.712303  0.072935  0.027759   11.85
...         ...       ...       ...       ...       ...       ...     ...
14104 -0.074208  0.035446  0.550578 -0.027171 -0.024921  0.073605    3.12
14170 -0.601295  0.040404  0.995502 -0.273743  1.688136  0.527831   99.99
14197 -0.680052  0.108176  1.066878 -0.233720  1.707521  0.511423   99.99
14211 -0.726839  0.112540  1.119193 -0.233189  1.684063  0.503740   99.99
14338 -0.112376 -0.592077  0.520791  0.043354  0.015159  0.063612    3.76

[122 rows x 30 columns]

In [29]:
print(Y)

9885     0.0
2227     0.0
11491    0.0
8300     0.0
11151    0.0
        ...
14104    1.0
14170    1.0
14197    1.0
14211    1.0
14338    1.0
Name: Class, Length: 122, dtype: float64

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [33]:
print(X.shape , X_train.shape, X_test.shape)

(122, 30) (97, 30) (25, 30)

In [34]:
model = LogisticRegression()

In [35]:
# traing the logistic regression model with training data
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [36]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)
print(" Accuracy on Training Data: " , training_data_accuracy)

 Accuracy on Training Data:  0.9896907216494846

In [37]:
# Accuracy on testing data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print(" Accuracy on Testing Data: ", test_data_accuracy)

 Accuracy on Testing Data:  1.0

In [39]:
from sklearn.metrics import plot_roc_curve, f1_score

f1_score(Y_test,X_test_prediction) # f1 score

ImportError: ignored